/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
/* line 5, ../sass/colorbox.scss */
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden; }

/* line 6, ../sass/colorbox.scss */
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%; }

/* line 7, ../sass/colorbox.scss */
#cboxMiddleLeft, #cboxBottomLeft {
  clear: left; }

/* line 8, ../sass/colorbox.scss */
#cboxContent {
  position: relative; }

/* line 9, ../sass/colorbox.scss */
#cboxLoadedContent {
  overflow: auto; }

/* line 10, ../sass/colorbox.scss */
#cboxTitle {
  margin: 0; }

/* line 11, ../sass/colorbox.scss */
#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 12, ../sass/colorbox.scss */
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer; }

/* line 13, ../sass/colorbox.scss */
.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none; }

/* line 14, ../sass/colorbox.scss */
.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0; }

/* line 15, ../sass/colorbox.scss */
#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box; }

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
/* line 22, ../sass/colorbox.scss */
#cboxOverlay {
  background: url(images/overlay.png) repeat 0 0; }

/* line 24, ../sass/colorbox.scss */
#cboxTopLeft {
  width: 21px;
  height: 21px;
  background: url(images/controls.png) no-repeat -101px 0; }

/* line 25, ../sass/colorbox.scss */
#cboxTopRight {
  width: 21px;
  height: 21px;
  background: url(images/controls.png) no-repeat -130px 0; }

/* line 26, ../sass/colorbox.scss */
#cboxBottomLeft {
  width: 21px;
  height: 21px;
  background: url(images/controls.png) no-repeat -101px -29px; }

/* line 27, ../sass/colorbox.scss */
#cboxBottomRight {
  width: 21px;
  height: 21px;
  background: url(images/controls.png) no-repeat -130px -29px; }

/* line 28, ../sass/colorbox.scss */
#cboxMiddleLeft {
  width: 21px;
  background: url(images/controls.png) left top repeat-y; }

/* line 29, ../sass/colorbox.scss */
#cboxMiddleRight {
  width: 21px;
  background: url(images/controls.png) right top repeat-y; }

/* line 30, ../sass/colorbox.scss */
#cboxTopCenter {
  height: 21px;
  background: url(images/border.png) 0 0 repeat-x; }

/* line 31, ../sass/colorbox.scss */
#cboxBottomCenter {
  height: 21px;
  background: url(images/border.png) 0 -29px repeat-x; }

/* line 32, ../sass/colorbox.scss */
#cboxContent {
  background: #fff;
  overflow: hidden; }

/* line 33, ../sass/colorbox.scss */
.cboxIframe {
  background: #fff; }

/* line 34, ../sass/colorbox.scss */
#cboxError {
  padding: 50px;
  border: 1px solid #ccc; }

/* line 35, ../sass/colorbox.scss */
#cboxLoadedContent {
  margin-bottom: 28px; }

/* line 36, ../sass/colorbox.scss */
#cboxTitle {
  position: absolute;
  bottom: 4px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #949494; }

/* line 37, ../sass/colorbox.scss */
#cboxCurrent {
  position: absolute;
  bottom: 4px;
  left: 58px;
  color: #949494; }

/* line 38, ../sass/colorbox.scss */
#cboxSlideshow {
  position: absolute;
  bottom: 4px;
  right: 30px;
  color: #0092ef; }

/* line 39, ../sass/colorbox.scss */
#cboxPrevious {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(images/controls.png) no-repeat -75px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px; }

/* line 40, ../sass/colorbox.scss */
#cboxPrevious:hover {
  background-position: -75px -25px; }

/* line 41, ../sass/colorbox.scss */
#cboxNext {
  position: absolute;
  bottom: 0;
  left: 27px;
  background: url(images/controls.png) no-repeat -50px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px; }

/* line 42, ../sass/colorbox.scss */
#cboxNext:hover {
  background-position: -50px -25px; }

/* line 43, ../sass/colorbox.scss */
#cboxLoadingOverlay {
  background: url(images/loading_background.png) no-repeat center center; }

/* line 44, ../sass/colorbox.scss */
#cboxLoadingGraphic {
  background: url(images/loading.gif) no-repeat center center; }

/* line 45, ../sass/colorbox.scss */
#cboxClose {
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(images/controls.png) no-repeat -25px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px; }

/* line 46, ../sass/colorbox.scss */
#cboxClose:hover {
  background-position: -25px -25px; }

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
/* line 60, ../sass/colorbox.scss */
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF); }

/*
  The following provides PNG transparency support for IE6
  Feel free to remove this and the /ie6/ directory if you have dropped IE6 support.
*/
/* line 68, ../sass/colorbox.scss */
.cboxIE6 #cboxTopLeft {
  background: url(images/ie6/borderTopLeft.png); }

/* line 69, ../sass/colorbox.scss */
.cboxIE6 #cboxTopCenter {
  background: url(images/ie6/borderTopCenter.png); }

/* line 70, ../sass/colorbox.scss */
.cboxIE6 #cboxTopRight {
  background: url(images/ie6/borderTopRight.png); }

/* line 71, ../sass/colorbox.scss */
.cboxIE6 #cboxBottomLeft {
  background: url(images/ie6/borderBottomLeft.png); }

/* line 72, ../sass/colorbox.scss */
.cboxIE6 #cboxBottomCenter {
  background: url(images/ie6/borderBottomCenter.png); }

/* line 73, ../sass/colorbox.scss */
.cboxIE6 #cboxBottomRight {
  background: url(images/ie6/borderBottomRight.png); }

/* line 74, ../sass/colorbox.scss */
.cboxIE6 #cboxMiddleLeft {
  background: url(images/ie6/borderMiddleLeft.png); }

/* line 75, ../sass/colorbox.scss */
.cboxIE6 #cboxMiddleRight {
  background: url(images/ie6/borderMiddleRight.png); }

/* line 84, ../sass/colorbox.scss */
.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
  _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')"); }
