/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */
/* line 5, ../sass/style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

/* line 6, ../sass/style.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* line 7, ../sass/style.scss */
audio:not([controls]) {
  display: none; }

/* line 8, ../sass/style.scss */
[hidden] {
  display: none; }

/* line 10, ../sass/style.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 11, ../sass/style.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

/* line 12, ../sass/style.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

/* line 14, ../sass/style.scss */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

/* line 15, ../sass/style.scss */
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

/* line 17, ../sass/style.scss */
a {
  color: #00e; }

/* line 18, ../sass/style.scss */
a:visited {
  color: #551a8b; }

/* line 19, ../sass/style.scss */
a:hover {
  color: #06e; }

/* line 20, ../sass/style.scss */
a:focus {
  outline: thin dotted; }

/* line 21, ../sass/style.scss */
a:hover, a:active {
  outline: 0; }

/* line 23, ../sass/style.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 24, ../sass/style.scss */
b, strong {
  font-weight: bold; }

/* line 25, ../sass/style.scss */
blockquote {
  margin: 1em 40px; }

/* line 26, ../sass/style.scss */
dfn {
  font-style: italic; }

/* line 27, ../sass/style.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* line 28, ../sass/style.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

/* line 29, ../sass/style.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* line 30, ../sass/style.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* line 31, ../sass/style.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 32, ../sass/style.scss */
q {
  quotes: none; }

/* line 33, ../sass/style.scss */
q:before, q:after {
  content: "";
  content: none; }

/* line 34, ../sass/style.scss */
small {
  font-size: 85%; }

/* line 36, ../sass/style.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 37, ../sass/style.scss */
sup {
  top: -0.5em; }

/* line 38, ../sass/style.scss */
sub {
  bottom: -0.25em; }

/* line 40, ../sass/style.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

/* line 41, ../sass/style.scss */
dd {
  margin: 0 0 0 40px; }

/* line 42, ../sass/style.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* line 44, ../sass/style.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

/* line 46, ../sass/style.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 48, ../sass/style.scss */
figure {
  margin: 0; }

/* line 50, ../sass/style.scss */
form {
  margin: 0; }

/* line 51, ../sass/style.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* line 52, ../sass/style.scss */
label {
  cursor: pointer; }

/* line 53, ../sass/style.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

/* line 54, ../sass/style.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/* line 55, ../sass/style.scss */
button, input {
  line-height: normal; }

/* line 56, ../sass/style.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

/* line 57, ../sass/style.scss */
button[disabled], input[disabled] {
  cursor: default; }

/* line 58, ../sass/style.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

/* line 59, ../sass/style.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 60, ../sass/style.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/* line 61, ../sass/style.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 62, ../sass/style.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* line 64, ../sass/style.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

/* line 66, ../sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 67, ../sass/style.scss */
td {
  vertical-align: top; }

/* line 69, ../sass/style.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0; }

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */
/* line 77, ../sass/style.scss */
body {
  font-size: 62.5%;
  background: #3b4813; }

/* line 82, ../sass/style.scss */
p, li, a {
  font-size: 1.2em; }

/* line 86, ../sass/style.scss */
li p, p a, li li {
  font-size: 1em; }

/* line 90, ../sass/style.scss */
header, footer {
  position: fixed;
  left: 0px;
  width: 100%;
  background: #2c3a00; }

/* line 97, ../sass/style.scss */
header {
  top: 0px;
  border-bottom: 5px solid #779e00; }

/* line 102, ../sass/style.scss */
header sub {
  font-size: 0.5em;
  bottom: 0px; }

/* line 107, ../sass/style.scss */
footer {
  position: fixed;
  bottom: 0px;
  border-top: 5px solid #779e00; }

/* line 113, ../sass/style.scss */
h1 {
  text-align: center;
  margin: 0px;
  padding: 10px;
  color: #fff;
  font-size: 3em; }

/* line 121, ../sass/style.scss */
footer ul {
  margin: 0px;
  padding: 0px; }

/* line 126, ../sass/style.scss */
footer li {
  float: left;
  list-style: none;
  padding: 10px 20px;
  color: #fff; }

/* line 133, ../sass/style.scss */
footer li a, footer li a:hover, footer li a:visited {
  color: #fff; }

/* line 137, ../sass/style.scss */
.screenshots {
  padding: 76px 0 0 0;
  border-bottom: 5px solid #779e00;
  width: 100%;
  overflow: hidden;
  height: 188px; }

/* line 145, ../sass/style.scss */
.screenshots .screenshot_wrapper {
  width: 1204px;
  margin: 0 auto;
  border-left: 1px solid #000;
  height: 188px; }

/* line 152, ../sass/style.scss */
.screenshots .screenshot_wrapper img {
  display: block;
  float: left;
  border-right: 1px solid #000; }

/* line 158, ../sass/style.scss */
.content {
  padding: 0px 20px 44px; }

/* line 162, ../sass/style.scss */
p, ul, ol {
  margin: 10px 0px; }

/* line 166, ../sass/style.scss */
.wrapper {
  width: 980px;
  margin: 0 auto; }

/* line 171, ../sass/style.scss */
section {
  background: #fff;
  margin: 20px 0px;
  padding: 1px 10px;
  border-bottom: 5px solid #779e00;
  border-radius: 3px 3px 0 0; }

/* line 179, ../sass/style.scss */
a.button, a.button:hover, a.button:visited {
  background: #ccc;
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  color: #000;
  border-radius: 5px;
  border: 1px solid #999; }

/* line 189, ../sass/style.scss */
a.button:hover {
  background: #000;
  color: #fff; }

/* line 194, ../sass/style.scss */
pre code strong {
  font: bold 1.1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; }

/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
/* line 5, ../sass/colorbox.scss */
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden; }

/* line 6, ../sass/colorbox.scss */
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%; }

/* line 7, ../sass/colorbox.scss */
#cboxMiddleLeft, #cboxBottomLeft {
  clear: left; }

/* line 8, ../sass/colorbox.scss */
#cboxContent {
  position: relative; }

/* line 9, ../sass/colorbox.scss */
#cboxLoadedContent {
  overflow: auto; }

/* line 10, ../sass/colorbox.scss */
#cboxTitle {
  margin: 0; }

/* line 11, ../sass/colorbox.scss */
#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 12, ../sass/colorbox.scss */
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer; }

/* line 13, ../sass/colorbox.scss */
.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none; }

/* line 14, ../sass/colorbox.scss */
.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0; }

/* line 15, ../sass/colorbox.scss */
#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box; }

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
/* line 22, ../sass/colorbox.scss */
#cboxOverlay {
  background: url(../img/colorbox/overlay.png) repeat 0 0; }

/* line 24, ../sass/colorbox.scss */
#cboxTopLeft {
  width: 21px;
  height: 21px;
  background: url(../img/colorbox/controls.png) no-repeat -101px 0; }

/* line 25, ../sass/colorbox.scss */
#cboxTopRight {
  width: 21px;
  height: 21px;
  background: url(../img/colorbox/controls.png) no-repeat -130px 0; }

/* line 26, ../sass/colorbox.scss */
#cboxBottomLeft {
  width: 21px;
  height: 21px;
  background: url(../img/colorbox/controls.png) no-repeat -101px -29px; }

/* line 27, ../sass/colorbox.scss */
#cboxBottomRight {
  width: 21px;
  height: 21px;
  background: url(../img/colorbox/controls.png) no-repeat -130px -29px; }

/* line 28, ../sass/colorbox.scss */
#cboxMiddleLeft {
  width: 21px;
  background: url(../img/colorbox/controls.png) left top repeat-y; }

/* line 29, ../sass/colorbox.scss */
#cboxMiddleRight {
  width: 21px;
  background: url(../img/colorbox/controls.png) right top repeat-y; }

/* line 30, ../sass/colorbox.scss */
#cboxTopCenter {
  height: 21px;
  background: url(../img/colorbox/border.png) 0 0 repeat-x; }

/* line 31, ../sass/colorbox.scss */
#cboxBottomCenter {
  height: 21px;
  background: url(../img/colorbox/border.png) 0 -29px repeat-x; }

/* line 32, ../sass/colorbox.scss */
#cboxContent {
  background: #fff;
  overflow: hidden; }

/* line 33, ../sass/colorbox.scss */
.cboxIframe {
  background: #fff; }

/* line 34, ../sass/colorbox.scss */
#cboxError {
  padding: 50px;
  border: 1px solid #ccc; }

/* line 35, ../sass/colorbox.scss */
#cboxLoadedContent {
  margin-bottom: 28px; }

/* line 36, ../sass/colorbox.scss */
#cboxTitle {
  position: absolute;
  bottom: 4px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #949494; }

/* line 37, ../sass/colorbox.scss */
#cboxCurrent {
  position: absolute;
  bottom: 4px;
  left: 58px;
  color: #949494; }

/* line 38, ../sass/colorbox.scss */
#cboxSlideshow {
  position: absolute;
  bottom: 4px;
  right: 30px;
  color: #0092ef; }

/* line 39, ../sass/colorbox.scss */
#cboxPrevious {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../img/colorbox/controls.png) no-repeat -75px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px; }

/* line 40, ../sass/colorbox.scss */
#cboxPrevious:hover {
  background-position: -75px -25px; }

/* line 41, ../sass/colorbox.scss */
#cboxNext {
  position: absolute;
  bottom: 0;
  left: 27px;
  background: url(../img/colorbox/controls.png) no-repeat -50px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px; }

/* line 42, ../sass/colorbox.scss */
#cboxNext:hover {
  background-position: -50px -25px; }

/* line 43, ../sass/colorbox.scss */
#cboxLoadingOverlay {
  background: url(../img/colorbox/loading_background.png) no-repeat center center; }

/* line 44, ../sass/colorbox.scss */
#cboxLoadingGraphic {
  background: url(../img/colorbox/loading.gif) no-repeat center center; }

/* line 45, ../sass/colorbox.scss */
#cboxClose {
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(../img/colorbox/controls.png) no-repeat -25px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px; }

/* line 46, ../sass/colorbox.scss */
#cboxClose:hover {
  background-position: -25px -25px; }

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
/* line 60, ../sass/colorbox.scss */
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF); }

/*
  The following provides PNG transparency support for IE6
  Feel free to remove this and the /ie6/ directory if you have dropped IE6 support.
*/
/* line 68, ../sass/colorbox.scss */
.cboxIE6 #cboxTopLeft {
  background: url(../img/colorbox/ie6/borderTopLeft.png); }

/* line 69, ../sass/colorbox.scss */
.cboxIE6 #cboxTopCenter {
  background: url(../img/colorbox/ie6/borderTopCenter.png); }

/* line 70, ../sass/colorbox.scss */
.cboxIE6 #cboxTopRight {
  background: url(../img/colorbox/ie6/borderTopRight.png); }

/* line 71, ../sass/colorbox.scss */
.cboxIE6 #cboxBottomLeft {
  background: url(../img/colorbox/ie6/borderBottomLeft.png); }

/* line 72, ../sass/colorbox.scss */
.cboxIE6 #cboxBottomCenter {
  background: url(../img/colorbox/ie6/borderBottomCenter.png); }

/* line 73, ../sass/colorbox.scss */
.cboxIE6 #cboxBottomRight {
  background: url(../img/colorbox/ie6/borderBottomRight.png); }

/* line 74, ../sass/colorbox.scss */
.cboxIE6 #cboxMiddleLeft {
  background: url(../img/colorbox/ie6/borderMiddleLeft.png); }

/* line 75, ../sass/colorbox.scss */
.cboxIE6 #cboxMiddleRight {
  background: url(../img/colorbox/ie6/borderMiddleRight.png); }

/* line 84, ../sass/colorbox.scss */
.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
  _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')"); }

/* =============================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */
/* line 5, ../sass/partials/_helpers.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0; }

/* line 6, ../sass/partials/_helpers.scss */
.ir br {
  display: none; }

/* line 7, ../sass/partials/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/* line 8, ../sass/partials/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* line 9, ../sass/partials/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* line 10, ../sass/partials/_helpers.scss */
.invisible {
  visibility: hidden; }

/* line 11, ../sass/partials/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

/* line 12, ../sass/partials/_helpers.scss */
.clearfix:after {
  clear: both; }

/* line 13, ../sass/partials/_helpers.scss */
.clearfix {
  *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
@media print {
  /* line 6, ../sass/partials/_print.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: h5bp.com/s */
  /* line 7, ../sass/partials/_print.scss */
  a, a:visited {
    text-decoration: underline; }

  /* line 8, ../sass/partials/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 9, ../sass/partials/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /* line 10, ../sass/partials/_print.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  /* line 11, ../sass/partials/_print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /* line 12, ../sass/partials/_print.scss */
  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  /* line 13, ../sass/partials/_print.scss */
  tr, img {
    page-break-inside: avoid; }

  /* line 14, ../sass/partials/_print.scss */
  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  /* line 16, ../sass/partials/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  /* line 17, ../sass/partials/_print.scss */
  h2, h3 {
    page-break-after: avoid; } }
